@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


::-webkit-scrollbar { 
    width: 4px; 
} 
::-webkit-scrollbar-thumb { 
    background-color: #aa8214; 
    border-radius: 20px;
} 
::-webkit-scrollbar-track { 
    background: transparent; 
}


*{
    font-family: 'Inter', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: #1a1a1a;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section{
    background-color: rgb(37, 37, 37);
    height: 100%;
    width: 100%;
    max-width: 900px;
    display: flex;
    overflow: hidden;
}

.heading{
    font-size: 20px;
    font-weight: 600;
    color: #FFF;
}

.title{
    font-size: 16px;
    font-weight: 600;
    color: #FFF;
}

.par{
    font-size: 14px;
    font-weight: 400;
    color: #FFF;
}

.sub{
    font-size: 12px;
    font-weight: 300;
    color: #afafaf;
}


.text-set{
    gap: 4px;
    display: flex;
    flex-direction: column;
}

button:hover{
    filter: brightness(0.8);
}

button{
    font-size: 14px;
}

.icon img{
    width: 60px;
}

.icon{
    border-radius: 12px;
    border: 1px solid #292929;
    overflow: hidden;
    width: 60px !important;
    height: 60px;
}


.btn-pm:hover{
    filter: brightness(0.8);
}

.modal{
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog{
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: 320px;
    background-color: rgb(37, 37, 37);
    border-radius: 12px;
    gap: 12px;
    z-index: 10;
}

.modal-bg{
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #000;
    position: absolute;
    opacity: 0.9;
}

.btn-hor{
    display: flex;
    gap: 8px;
    width: 100%;
    justify-content: end;
}

ol{
    margin: 0 !important;
    padding: 0 0 0 24px
} 

.data{
    background-color: #121212;
    border-radius: 12px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.iconbtn{
    cursor: pointer;
}

.iconbtn:hover{
    filter: brightness(0.8)
}

.loader{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #121212;
}

.loading-container { 
    width: 100%; 
    max-width: 800px;
    height: 10px; 
    background-color: #e0e0e0; 
    border-radius: 5px; 
    overflow: hidden; 
} 

.loading-bar {
    width: 0; 
    height: 100%; 
    background-color: #aa8214; 
    border-radius: 5px; 
    animation: load 4s linear; 
} 

@keyframes load {
     0% { 
        width: 100%; 
    } 

    40% {
        width: 20%
    }

    100% {
         width: 0; 
    } 
}

#ld {
    top: -100%;
    animation: top 5s linear;
}

@keyframes top {
    0% {
        top: 0;
    }

    95%{
        top: 0
    }

    100%{
        top: -100%
    }
}



@media screen and (max-width: 640px) {
    .section{
        flex-direction: column;
    }

    .right{
        width: calc(100% - 40px);
        height: auto;
        gap: 20px;
    }

    .card{
        padding: 12px !important;
    }

    .imgs img{
        width: 100%;
    }

    .trans-det{
        display: none;
    }

    #ins{
        display: none;
    }

    #show1{
        display: flex;
    }

    #show2{
        display: none;
    }

    #copynam, #copynum{
        content: "error";
        color: red;
    }

}


