

.left{
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: scroll;
}

.right{
    width: calc(40% - 40px);
    height: calc(100% - 40px);
    padding: 20px;
    background-color: #333333;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: -4px 0px 12px 0px rgba(0, 0, 0, 0.20);
}

.btn-wrap{
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}

button.main{
    padding: 12px 16px;
    border-radius: 4px;
    color: #FFF;
    background-color: #aa8214;
    border: none;
    font-weight: 500;
    cursor: pointer;
}

button.secondary{
    padding: 8px 16px;
    border-radius: 4px;
    color: rgb(216, 85, 85);
    background-color: transparent;
    border: none;
    font-weight: 500;
    cursor: pointer;
}

.card{
    background-color: #1d1d1d;
    padding: 12px;
    border-radius: 12px;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.button-set{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.btn-pm{
    border: 1px solid #4d4d4d;
    padding: 12px;
    border-radius: 12px;
    display: flex;
    gap: 20px;
    align-items: center;
    cursor: pointer;
}

.pm-text{
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: calc(100% - 100px);
}

.trans-det{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.status{
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 12px;
    width: 100%;
    height: auto;
}

.imgs{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.imgs img{
    width: 360px;
}

.copy-set{
    display: flex;
    align-items: center;
    gap: 8px;
}


#cancel{
    display: none;
}

#gcash, #sb, #cash{
    display: none;
    border: 1px solid #969696;
}

#copynum, #copynam{
    display: none;
}

.ad{
    max-width: 460px;
    width: 100%;
}